<!DOCTYPE html>
<html>
<body>
    <p>Hi there!</p>
    <p>It works! <style>a:link{
        background-color: greenyellow;color: black;padding: 20px; border-radius: 15px; margin: 10px;
    }
    a:hover{
        background-color: green;color: black;padding: 30px;margin: 10px;
    }
    a:active{
        background-color: yellow;color: black; padding: 20px;margin: 10px;
    }
    a{
        text-align: end
    };</style>
        <a href="test1" title="test1" >go to test1</a><a href="test1" title="test1">go to test1</a>
</body>
</html>
